* {
    box-sizing: border-box;
    margin: 5px;
}

header {
    background-image: linear-gradient(to right, #3a6bc1 , #250859);
}

.pageTitle {
    color: white;
    font-weight: bold;
    text-align: center;
}

/* search section */

#citySearchSection {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 90%;
    border-bottom: 2px solid;
}

#searchBar {
    width: 100%;
    border-radius: 5px;
}

#searchBtn {
    color: white;
    background-color: #3e93bd;
    text-align: center;
    border-radius: 5px;
}

.searchSection {
    width: 40%;
    display: flex;
    flex-direction: column;
    float: left;
    margin-bottom: 5px;
    margin-right: 1px;
}

/* end search section */ 

/* Current weather section */
#introText {
    font-weight: 300;
}

#currentDayWeather {
    border: 2px solid;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 60%;
    border-radius: 5px;
}

/* end current weather section */

/* five day forecast section */

.cardContainer {
    justify-content: flex-end;
    width: 60%;
    margin-left: 40%;
}

#fiveDayContainer {
    padding: 0;
    margin: 0;
}
.fiveDayStyle {
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.card {
    background-color: #1b516b;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.col-md {
    border-radius: 5px;
}
.col-12 p {
    color: white;
    font-weight: normal;
    padding: 5px;
}

/* end five day forecast section */

/* search history buttons */

 .historyButtons {
    background-color: grey;
    width: 100%;
    border-radius: 5px;
    list-style: none;
    text-align: center;
 }

#searchHistory {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: none;
}

/* end search history buttons */

/* icon styling */ 

.iconStyleCurrent {
    width: 60px;
    height: 60px;
}

.iconStyle {
    width: 50px;
    height: 50px;
}

/* end icon styling */ 