
* {
    box-sizing: border-box;
    margin: 5px;
}

header {
    background-color: #1b516b;
    
}

.pageTitle {
    color: white;
    font-weight: bold;
    text-align: center;
}

#citySearchSection {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}

#searchBar {
    width: 100%;
    border-radius: 5px;
}

#searchBtn {
    color: white;
    background-color: #3e93bd;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.forecastDay {
    background-color: #1b516b;
    color: white;
}

#currentDayWeather {
    border: 3px solid;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

}

#forecastTitle {
    font-weight: bold;
}

#fiveDay {
    border: 3px red solid;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#weathercard {
    width: 100%;
}

#cardHolder {
    border: 3px green solid;
}


